.display-panel {
  background: darkgray;
  border: 50px solid black;
  height: 200px;
}

.control-panel {
  background: lightgray;
  height: 200px;
}

.control-button {
  width: 100%;
  height: 200px;
  font-weight: bold;
  font-size: 30px;;
}

.control-button-press {
  color: black;
}

.control-button-wait {
  color: darkslategray;
}

.control-button-cross {
  color: darkgreen;
}

.control-button-dont-cross {
  color: darkred;
}

.person {
  font-size: 58px;
}
